<!--<div>-->
<!--<#% if user_signed_in? %>-->
<!--        <#%= link_to "회원정보", edit_user_registration_path %>-->
<!--        <3%= link_to "로그아웃", destroy_user_session_path, method: :delete %>-->
<!--<#% else %>-->
<!--        <#%= link_to "로그인", user_session_path %>-->
<!--        <#%= link_to "회원가입", "/users/sign_up" %>-->
<!--<#% end %>-->

<!--</div>-->
<!--<hr/>-->
<%= alert %>
<%= notice %>

<br>
<br>
<br>







<%= render 'indexsub' %>

