
<body>
    <div class="mainpage_info">
    <div class="info_nav">
        <center><img class="info_logo"></center>
 

    </div>
    
    <h1 class="info_content" style="color:black;">열심히 일한 당신, </h1>
    
    <h1 class="info_content">당신의 권리가 무엇인지는 알고 계신가요?</h1>
    <h1 class="info_content">알바생의 알 권리를 위하여.</h1><br><br>
    
    
    <center><%= link_to "바로가기","/users/sign_in", :class => "button_login_info" %></center>
    
    </div>
    
    <div class="about_info">
        <h1 class="info_content">"알 권리"란?</h1>
        <center>
        <div class="container">
            <br><br>
            <div class="al_info"><img src="/assets/hand.png"><br><br>
            근무환경과 시간을 기록하면 자동으로 월급을 계산하고, 수당을 안내합니다.
            </div>
            <div class="al_info"><img src="/assets/auction.png"><br><br>
            알바와 관련된 법률에 대한 <br> 정확한 정보를 제공합니다.
            </div>
            <div class="al_info"><img src="/assets/conversation.png"><br><br>
            판례 정보 제시, 민원 절차 등 정당한 권리를 주장하기 위한 방법을 제공합니다. 
            </div>
        </div>
        </center>
    </div>
    
    <div class="our_team">
        <h1 class="info_content">OUR TEAM</h1><br><br>
        <div class="person_container">
            <div class="person"><img src="/assets/hs.jpg" class="photo_circle"><br><br>전호설<br>Developer</div>
            <div class="person"><img src="/assets/yr.jpg" class="photo_circle"><br><br>김유림<br>Developer</div>
            <div class="person"><img src="/assets/hr.jpg" class="photo_circle"><br><br>김혜린<br>Developer</div>
            <div class="person"><img src="/assets/hsb.jpg" class="photo_circle"><br><br>윤희성<br>Developer</div>
            <div class="person"><img src="/assets/jj.jpg" class="photo_circle"><br><br>이재준<br>Developer</div>
        </div>
    </div>
</body>
